[Unit]
Description=NeoFS HTTP Gateway node neofs-http{{ neofs_http__instance }}
Requires=network.target

[Service]
Type=simple
ExecStart={{ neofs_http__bin_path }}{{ ' --wallet ' + neofs_http__wallet_path if neofs_http__wallet_path is defined }}

User={{ neofs_http__user }}
Group={{ neofs_http__group }}
Restart=always
RestartSec=5
StandardError=syslog
SyslogIdentifier=neofs-http{{ neofs_http__instance }}
PrivateTmp=true
WorkingDirectory={{ neofs_http__conf_dir }}
EnvironmentFile=-{{ neofs_http__conf_dir }}/env

[Install]
WantedBy=multi-user.target
